 body {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 
 #message-box {
   font-size: small; 
   max-width: 470px;
   line-height: 18px;
 }

 h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
 }