<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Kwiz</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/kwiz.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="form-horizontal hero-unit">
      <div>
        <h1 class="title">Kwiz</h1>
        <h2><em>Kalkulator zwrotu z inwestycji w nieruchomość na wynajem</em></h2>
        <p id="message-box">Kalkulator jest bardzo prostym narzędziem do wstępnego sprawdzenia zwortu z inwestycji. Nie uwzglednia bardzo dużo zmiennych ale umożliwia bardzo szybko policzyć jaki może być zysk z inwestycji. Generalnie zwrot na poziomie 7-8% jest graniczną wartością dla wiekszości inwestorów. Chociaż zwrot nawet na poziomie 6% może być dalej opłacalny biorąc pod uwagę, że bardzo ciężko znaleść lokaty bankowe na tym poziomie zysku w których można by złożyć tyle pieniedzy ile wart jest nasze mieszkanie (100tyś. i więcej). Teoretycznie można grać na giełdzie ale jest to znacznie większe ryzyko a nie o to przecież chodzi.</p>
      </div>

      <div id='body'></div>
    </div>    


    <script type="text/template" id="input-template">
      <div class="control-group">
        <% if (typeof(label) !== 'undefined') { %>
          <label class="control-label"><%= label %></label>
        <% } %>
        <div class="controls">

        <% if (typeof(append) !== 'undefined') { %>
          <div class="input-append">
        <% } %>
            <input type="<%= type %>" id="<%= id %>" <%= value %> <%= placeholder %> <%= required===true ?  'required' : '' %> <%= disabled %> />
          <% if (typeof(append) !== 'undefined') { %>
             <span class="add-on"><%= append %></span>
          <% } %>
        <% if (typeof(append) !== 'undefined') { %>
          </div>
        <% } %>

        </div>
      </div>
    </script>

    <script type="text/template" id="fieldset-template">
      <fieldset>
        <legend><%= legend %></legend>
      </fieldset>
    </script>

    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/jquery-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/bootstrap-min.js"></script>
    <script type="text/javascript" src="js/kwiz.js"></script>
  </body>
</html>